<h1>Recipe Info</h1>
<h2>Title: <%= @recipe.title %></h2>
<h5>Updated On: <%= @recipe.friendly_updated_at %></h5> 
<h3>Chef: <%= @recipe.chef %></h3>
<h5>Prep Time: <%= @recipe.prep_time %></h5>


<h4>Ingredients: </h4>
<ul>
<% @recipe.ingredients.split(", ").each do |ingredient| %>
    <li><%= ingredient %></li>
<% end %>
</ul>

<h4>Directions: </h4>
<ol>
  <% @recipe.directions.split(", ").each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>

<a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">Edit Recipe</a>
<a href="/recipes/<%= @recipe.id %>" data-method="delete" class="btn btn-danger">Delete Recipe</a>

<%= link_to "Edit Recipe", "/recipes/#{ @recipe.id }/edit", class: "btn btn-warning" %>
<%= link_to "Delete Recipe", "/recipes/#{ @recipe.id }", method: :delete, class: "btn btn-danger" %>